---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="tui-window blue-168 tui-page-window">
		<fieldset class="tui-fieldset white-255-border">
			<legend class="white-255-text">Web Development</legend>
			<p class="white-255-text">
				<a href="/" class="cyan-255-text">&larr; Back to Home</a>
			</p>
			<h1 class="white-255-text">My Career Journey in Web Development</h1>
			<p class="white-255-text">
				My career in web development began at a marketing agency where I was responsible for modifying
				WordPress websites. This experience laid the foundation for my understanding of web technologies
				and sparked my interest in creating custom solutions.
			</p>
			<p class="white-255-text">
				As I progressed, I started developing custom web applications using JavaScript. This allowed me
				to dive deeper into the intricacies of web development and build more complex and dynamic
				projects.
			</p>
			<p class="white-255-text">
				Over the years, I have had the privilege of working with some of the largest top 500 companies
				in the world. These experiences have not only broadened my technical skills but also provided me
				with valuable insights into the industry.
			</p>
			<p class="white-255-text">
				My passion for web development comes from the process of architecting and designing projects
				from both a visual and coding perspective. I find great satisfaction in creating intuitive and
				engaging user interfaces that provide a seamless experience for users.
			</p>
		</fieldset>
	</div>
</Layout>
