---
// Navigation component
---

<nav class="tui-nav">
	<ul>
		<li><a href="/" class="white-255-text">Arron McCrory</a></li>
		<li class="tui-dropdown">
			<span class="white-255-text">Navigate</span>
			<div class="tui-dropdown-content black-168">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/web-development">Web Development</a></li>
					<li><a href="/photography">Photography</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
		</li>
	</ul>
	<span class="tui-datetime" data-format="h:m:s a"></span>
</nav>