---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
	<div class="tui-window blue-168 tui-page-window">
		<fieldset class="tui-fieldset white-255-border">
			<legend class="white-255-text">Design</legend>
			<p class="white-255-text">
				<a href="/" class="cyan-255-text">&larr; Back to Home</a>
			</p>
			<h1 class="white-255-text">Design</h1>
			<p class="white-255-text">
				Design as it pertains to engineering is a very broad topic. It can be as simple as a logo, as
				straight forward as a website, or as complex as an entire product.
			</p>
			<p class="white-255-text">
				My father once told me "anyone can learn how to code, but only an artist can truly make
				something new".
			</p>
			<p class="white-255-text">
				The world of web design is both fun and fascinating. Whether it's the contrasting design
				choices influenced by western and eastern cultures, the impact of color on the overall user
				experience, or the role of typography in shaping our perception, each element plays a crucial
				part in crafting a compelling digital presence.
			</p>
		</fieldset>
	</div>
</Layout>
