---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
	<div class="tui-window blue-168 tui-page-window">
		<fieldset class="tui-fieldset white-255-border">
			<legend class="white-255-text">Project Management</legend>
			<p class="white-255-text">
				<a href="/" class="cyan-255-text">&larr; Back to Home</a>
			</p>
			<h1 class="white-255-text">Project Management</h1>
			<p class="white-255-text">
				The best code I have seen has been created as a result of enthusiasm and collaboration.
			</p>
			<p class="white-255-text">
				Morale and teamwork are what really matter. Steve Jobs once said "If you want to hire great
				people and have them stay working for you, you have to let them make a lot of decisions, and
				you have to be run by ideas, not hierarchy". I believe once you develop a culture of trust and
				respect, you can achieve great things.
			</p>
		</fieldset>
	</div>
</Layout>
