---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import 'tuicss/dist/tuicss.min.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Arron McCrory</title>
		<script src="/tuicss.min.js" is:inline></script>
		<script type="text/javascript">
			(function (c, l, a, r, i, t, y) {
				c[a] =
					c[a] ||
					function () {
						(c[a].q = c[a].q || []).push(arguments);
					};
				t = l.createElement(r);
				t.async = 1;
				t.src = 'https://www.clarity.ms/tag/' + i;
				y = l.getElementsByTagName(r)[0];
				y.parentNode.insertBefore(t, y);
			})(window, document, 'clarity', 'script', 'e4lgzmz0vv');
		</script>
	</head>
	<body class="cyan-168">
		<Nav />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	* {
		box-sizing: border-box;
	}

	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}

	main {
		flex: 1;
		padding: 0.5rem 1rem 1rem;
	}

	@media (min-width: 768px) {
		main {
			padding: 1rem 2rem 2rem;
		}
	}

	.tui-page-window {
		margin: 1rem auto;
		max-width: 760px;
		display: block;
	}

	@media (min-width: 768px) {
		.tui-page-window {
			margin: 2rem auto;
		}
	}

	.tui-page-window + .tui-page-window {
		margin-top: 0;
	}
</style>
