---
import Nav from '../components/Nav.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">		<title>RESEDA - Photography by Arron Hunt</title>
	</head>
	<body>
		<Nav />
		<main>
			<slot />
		</main>
	</body>
</html>

<style is:global>
	* {
		box-sizing: border-box;
	}
	
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		min-height: 100vh;
		background: #f5f5f5;
		color: #1a1a1a;
		font-family: "Recursive", sans-serif;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
		font-variation-settings:
			"slnt" 0,
			"CASL" 0,
			"CRSV" 0.5,
			"MONO" 0;
	}
</style>
